.row.content {
    height: 1500px;

}

h4 {
    font-size: 30px;
    text-align: center;
    color: green;
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

p {
    color: #f1f1f1;
}

.active {
    background-color: #ffffff;
    color: #ffffff;
}

/* Set black background color, white text and some padding */

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}
