{% extends 'layout/admin_layout.html' %}
{% block title %}
    Home
{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <div class="row">
        {% for user in doctor.patients %}
            <div class="col-md-4 col-sm-4 mb">
                <div class="white-panel pn" style="min-height: 300px; height: auto; padding-bottom: 20px;">
                    <div class="white-header">
                        <h5>{{ user.first_name }} {{ user.last_name }} / {{ user.email }}</h5>
                    </div>
                    {% for ingredient in user.user_ingredients %}
                        {{ ingredient.name }}<br/>
                    {% endfor %}
                    <button type="button" class="btn btn-round btn-success">Add</button>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock %}