{% extends 'layout/admin_layout.html' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/list.css">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row content">
            <div style="background-color: #9DE07B;">
                <div class="col-sm-3 sidenav">
                    <h4>Patients</h4>
                    <ul class="nav nav-pills nav-stacked">
                        {% for patient in doctor.patients %}
                            <li class="active">
                                <a href="#"
                                   onclick="toggleTab('#tab_user_{{ patient.id }}'); return false;">{{ patient.first_name }} {{ patient.last_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <br/>
                </div>
            </div>
            {% for patient in doctor.patients %}
                <div class="col-sm-9 {% if loop.index0 == 0 %}show{% else %}hidden{% endif %} tab_user"
                     id="tab_user_{{ patient.id }}">
                    <h2>{{ patient.first_name }} {{ patient.last_name }}</h2>
                    <div class="well">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img class="img-responsive"
                                         src="{% if patient.img_url %}{{ patient.img_url }}{% endif %}"/>
                                </div>
                                <div class="col-sm-9">
                                    <ul class="list-group">
                                        <li class="list-group-item">Age: {{ patient.age }}</li>
                                        <li class="list-group-item">Sex: {{ patient.gender }}</li>
                                        <li class="list-group-item">Height: {{ patient.height }} cm</li>
                                        <li class="list-group-item">Weight: {{ patient.weight }} lbs</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h2>Add Ingredients:</h2>
                    <form action="/add_ingredient" method="POST">
                        <input type="text" hidden name="user_id" value="{{ patient.id }}">
                        <div class="input-group">
                            <input type="text" id="inputfood" name="ingredient" class="form-control"
                                   placeholder="Enter ingredient">
                            <input style="margin-top: 10px;" type="submit" class="btn btn-success" value="Add">
                        </div>
                    </form>
                    <hr>
                    <h2>Ingredients List:</h2>
                    <div class="well">
                        <table class="table">
                            {% for ingredient in patient.user_ingredients %}
                                <tr>
                                    <td>
                                        <a href="/remove_ingredient/{{ ingredient.id }}">
                                            <span class="glyphicon glyphicon-remove danger" aria-hidden="true"
                                                  style="color: red; margin-right: 10px;"></span>
                                        </a>
                                        {{ ingredient.name }}

                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            var user_id = getParameterByName('user_id');
            if(user_id){
                var element_id = "#tab_user_" + user_id;
                toggleTab(element_id);
            }
        });

        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        var toggleTab = function (id) {
            $(".tab_user").removeClass('show');
            $(".tab_user").addClass('hidden');
            $(id).removeClass('hidden');
            $(id).addClass('show');
        }
    </script>
{% endblock %}